*.pkl
.idea
.git_old
__pycache__
examples/case_study/Thread/logs
examples/case_study/Loop/logs
examples/case_study/BugD/saved_models
examples/case_study/DeviceM/back
examples/case_study/DeviceM/saved_models
examples/case_study/tlp/scripts/models
examples/case_study/DeviceM/save_model/plot
examples/tutorial/saved_models/
examples/tutorial/logs/
examples/tutorial/models/

nuhup.out
# Jetbrains IDEs
.idea

# VIM
*.swp

# C++ build artifacts
build
cmake-build-debug
bin
*.so

# Python build artifacts
__pycache__
*.pyc

# Python package artifacts
dist
*.egg-info
.eggs

# Pytest runtime artifacts
.coverage
coverage.xml
htmlcov
