auto_mix_prep==0.2.0
keras==2.8.0
keras_nightly==2.5.0.dev2021032900
Keras_Preprocessing==1.1.2
mapie==0.8.6
matplotlib==3.9.1
nni==2.10.1
numpy==1.21.1
pandas==1.1.5
progressbar33==2.4
scikit_learn==1.0.2
seaborn==0.13.2
tensorflow==2.8.0
torch==1.9.0+cpu
transformers==4.30.2
